<div style="-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; "><!-- Contains entire template -->
  <md-toolbar class="md-whiteframe-3dp" ng-click="toggleOpen()"><!-- Begins toolbar -->
  <div class="md-toolbar-tools">
    <!-- Adds item icon -->
    <md-icon> announcement </md-icon>
    <!-- Injects headding as defined in the uib-accordion-group tag -->
    <h4 class="panel-title">
      {{ heading }}
    </h4>
    <!-- Adds the icons on the right -->
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon>star_rate</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon> more_vert </md-icon>
    </md-button>
  </div>
</md-toolbar><!-- Ends toolbar -->
  <!-- Injects content -->
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
    <div class="panel-body" ng-transclude></div>
  </div>

</div><!-- Ends template -->
