<uib-accordion  close-others="true" >
  <uib-accordion-group ng-repeat="thing in things" heading="{{ thing.name }}" template-url="views\templates\accordion-template.html">
    <!-- Content injected inside each element -->
    {{ seconds }}
    <div
      round-progress
      max="60"
      current="seconds"
      color="#45ccce"
      bgcolor="#eaeaea"
      radius="100"
      stroke="10"
      semi="false"
      rounded="true"
      clockwise="true"
      responsive="false"
      duration="400"
      animation="easeInOutQuart"></div>
    </div>
  </uib-accordion-group>
</uib-accordion>
